<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.app.covid19">

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_PHONE_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity android:name=".acitivities.UserInfo"></activity>
        <activity android:name=".acitivities.onboard.stayHome" />
        <activity android:name=".acitivities.onboard.onboardFaceMask" />
        <activity android:name=".acitivities.onboard.onboardCleanHand" />
        <activity android:name=".acitivities.onboard.onboardCloseContact" />
        <activity
            android:name=".acitivities.MainActivity"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".acitivities.Login"
            android:theme="@style/AppTheme.Launcher" />
        <activity
            android:name=".acitivities.Register"
            android:theme="@style/AppTheme.Launcher" />
        <activity
            android:name=".acitivities.SplashScreen"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>